@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0C2C56;
  --secondary-color: #005C5C;
  --accent1-color: #C4CED4;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: Permanent Marker, sans-serif;
  --paragraph-font: Ubuntu, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #005C5C;  /* headlines on a white background */ 
  --headline-color-on-color: #C4CED4; /* headlines on a colored background */ 
  --paragraph-color-on-white: #005C5C; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #C4CED4; /* paragraph text on a colored background */ 
  --paragraph-background-color:  #0C2C56;
  --nav-link-color: #C4CED4;
  --nav-background-color: #0C2C56;
  --nav-hover-link-color: #C4CED4;
  --nav-hover-background-color: #005C5C;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #0C2C56;
    color: #C4CED4;
    font-family: Ubuntu, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
  
header {
    background-color:#C4CED4;
    color: #005C5C;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a {
    text-align: center;
    color: #0C2C56;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color:#005C5C;
    color:#C4CED4;
}

nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.logo {
    width: 80px;
    padding: 2em;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

.home-title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    margin-top: 10px;
}

#hero-msg {
    background-color: #0C2C56;
    border: 2px solid #005C5C;
    text-align: center;
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px;
}

.book {
    background-color: #0C2C56;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    border: 2px solid #005C5C;
    margin-top: 50px;
}

.book:hover {
    background-color: #005C5C;
    color: white;
}
  
main {
    padding: 20px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-img {
    max-width: 400px;
    max-height: 300px;
    border: #C4CED4 solid 2px;
}

.stadium-card {
    grid-column: 2/4;
    grid-row: 3/4;
    margin-top: 100px;
}

.julio-card {
    grid-column: 7/9;
    grid-row: 3/4;
    margin-top: 110px;
}

.seattle {
    max-width: 700px;
    border: #C4CED4 solid 2px;
    grid-column: 2/7;
    grid-row: 5/8;
    margin-top: 150px;
}

h1 {
    color: #C4CED4;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}

.intro {
    color: #C4CED4;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 0.7em;
}

.msg {
    background-color: #005C5C;
    line-height: 1.25em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    margin-top: 150px;
    opacity: 90%;
    border: #C4CED4 solid 2px;
}

footer {
    background-color: #C4CED4;
    color: #0C2C56;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

  @media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}